:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--Darkcyan);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;
}
.parent {
    border-radius: 10px;
    background-color: white;
}
.full {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.icon {
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
}
h1 {
    color: var(--Verydarkdesaturatedblue);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    font-size: 20px;
}
hr {
    border: 0.1px solid var(--Darkgray);
}
.one {
    color: var(--Darkgray);
    display: inline;
    font-weight: normal;
    margin-left: 5px;
}
p {
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    margin: 12px 0;
    color: var(--Darkgray);
}
hr {
    margin-top: 30px;
    color: var(--Darkgray);
}
ul {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    margin: 20px 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
li {
    color: var(--Verydarkdesaturatedblue);
    text-align: center;
}
span {
    text-align: center;
    font-size: 12px;
    display: block;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: normal;
    margin-top: 3px;
    color: var(--Darkgray)
}
@media (max-width: 375px) {
    body {
        background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: -800px -750px, 100px 250px;
    }
    .icon {
        position: absolute;
        left: 50%;
        top: 39%;
        transform: translate(-50%,-50%);
    }
    h1 {
        margin-top: 70px;
    }
    p:not(.one) {
        font-size: 16px;
    }
    ul {
        margin-top: 25px;
    }
}
@media (min-width: 376px) {
    body {
        background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
        background-position: -350px -530px, 640px 320px;
        background-repeat: no-repeat , no-repeat;
    }
    .icon {
        position: absolute;
        left: 50%;
        top: 42%;
        transform: translate(-50%,-50%);
    }
    h1 {
        margin-top: 60px;
    }
    
}